<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" /> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->

  <link rel="stylesheet" href="css/colorbox/colorbox.css" type="text/css" /> 
  <link rel="stylesheet" href="css/index.css" type="text/css" /> 

  <script src="js/template.js"></script>
  <script src="js/template-common.js"></script>
  <link rel="import" href="./templates/common.html" onload="loadCommon(event)">
</head>
<body>
  <div id="header"></div>

  <div class="container" style="border-bottom:1px solid #ccc; margin-bottom:1em; padding-top:0.25em; padding-bottom:0.25em;">
    <div id="vehicleMenu" class="span-18">
      <a href="dashboard.html"><img src="img/fugue/dashboard.png" class="icon" /> Dashboard</a> | 
      <a href="mileage.html"><img src="img/fugue/counter.png" class="icon" /> Mileage</a> | 
      <a href="maintenance.html"><img src="img/fugue/wrench.png" class="icon" /> Maintenance</a> | 
      <a href="events.html"><img src="img/fugue/sticky-note.png" class="icon" /> Events</a>
    </div>

    <div class="span-6 last" style="text-align:right;">
      <a id="exportCsv" href="/rest/vehicles/1/maintenance/csv"><img src="img/fugue/document-excel-csv.png" class="icon" /> Export CSV</a>
      <a id="addEntry"><img src="img/fugue/plus-circle.png" class="icon" /> Add Entry</a>
    </div>
  </div>

  <div class="container">
    <div id="messageBox" class="span-24 last"></div>

    <div id="maintenanceTable" class="span-24 last">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Mechanic</th>
            <th>Contact</th>
            <th>Phone Number</th>
            <th>Cost ($)</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="editableRow" v-for="entry in entries">
            <td style="width:16px;"><a class="edit" v-bind:rel="entry.id" style="display:none;"><img src="img/fugue/pencil.png" /></a></td>
            <td>{{ entry.at }}</td>
            <td>{{ entry.providerId }}</td>
            <td>{{ entry.primaryContact }}</td>
            <td>{{ entry.phoneNumber }}</td>
            <td>{{ entry.cost }}</td>
            <td>{{ entry.description }}</td>
            <td style="width:16px;"><a class="remove" v-bind:rel="entry.id" style="display:none;"><img src="img/fugue/minus-circle.png" /></a></td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="footer"></div>

  <div style="display:none;">
    <div id="maintenanceForm" style="padding: 10px; background:#fff;">
      <div id="formMessageBox" style="display:block;"></div>

      <form>
        <fieldset>
          <legend><img class="icon" src="img/fugue/wrench.png" /> Record Maintenance</legend>
          <table class="grid">
            <tr>
              <td><label for="at">Date</label></td>
              <td><input name="at" id="at" type="date" v-bind:value="at" /></td>
            </tr>
            <tr>
              <td><label for="providerId">Mechanic</label></td>
              <td>
                <select id="providerId" name="providerId">
		  <option v-for="entry in entries" v-bind:value="entry.id">{{ entry.name }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="primaryContact">Contact</label></td>
              <td><input name="primaryContact" id="primaryContact" maxlength="256" v-bind:value="primaryContact" /></td>
            </tr>
            <tr>
              <td><label for="phoneNumber">Phone</label></td>
              <td><input name="phoneNumber" id="phoneNumber" maxlength="256" type="tel" v-bind:value="phoneNumber" /></td>
            </tr>
            <tr>
              <td><label for="cost">Cost</label></td>
              <td><input name="cost" id="cost" type="number" v-bind:value="cost" /></td>
            </tr>
            <tr>
              <td><label for="description">Description</label></td>
              <td><input name="description" id="description" v-bind:value="description" /></td>
            </tr>
          </table>
          <input name="vehicleId" id="vehicleId" type="hidden" v-bind:value="vehicleId" />
          <input name="id" id="id" type="hidden" v-bind:value="id" />
        </fieldset>
        <div style="text-align: right;">
          <a class="submit">Submit</a>
        </div>
      </form> 
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>

  <script src="js/crud.js"></script> 
  <script src="js/figures.js"></script> 

  <script type="text/javascript">
	$(document).ready(function() {
		var params = new URLSearchParams(document.location.search)
		var vehicleId = params.get("id")
		$("#vehicleMenu").find("a").each(function(){
			$(this).attr("href", $(this).attr("href") + "?id=" + vehicleId)
		});

		bindAdd("#maintenanceForm", "/rest/maintenance", {
			id : -1,
			vehicleId : vehicleId,
			providerId : 1,
			at : toISO8601DateStr(new Date()),
			primaryContact : "",
			phoneNumber : "",
			description : "",
			cost : 0
		});

		$.ajax({
			url: "/rest/vehicles/" + vehicleId + "/maintenance",
			timeout: 3000,
			success : function(maintenance) {
				new Vue({
					el: "#maintenanceTable",
					data : {
						entries : order(maintenance, function(x) { return x.at; }, descComparator)
					}
				});

				$(".editableRow")
					.mouseenter(function() {
						$(this).find(".edit").show();
						$(this).find(".remove").show();
					})
					.mouseleave(function() {
						$(this).find(".edit").hide();
						$(this).find(".remove").hide();
					});

				bindEdit("#maintenanceForm", "/rest/maintenance", function(entry) {
					$("#providerId").val(entry.providerId);
				});

				bindRemove("/rest/maintenance");
			},
			fail : function() {
				$("#messageBox").text("Failed to load maintenance information");
			}
		});

		$.ajax({
			url : "rest/providers",
			timeout: 3000,
			success : function(providers) {
				new Vue({
					el: "#providerId",
					data : {
						entries : providers
					}
				});
			}
		});
	});
  </script>
</body>
</html>
