<html>
<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" /> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->

  <link rel="stylesheet" href="css/colorbox/colorbox.css" type="text/css" /> 

  <link rel="stylesheet" type="text/css" href="css/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/slick/slick-theme.css"/>

  <link rel="stylesheet" href="css/index.css" type="text/css" /> 

  <script src="js/template.js"></script>
  <script src="js/template-common.js"></script>
  <script src="js/template-vehicleSection.js"></script>
  <link rel="import" href="./templates/common.html" onload="loadCommon(event)">
  <link rel="import" href="./templates/vehicleSection.html" onload="loadVehicleSection(event)">
</head>
<body>
  <div id="header"></div>

  <div class="container sectionMenu">
    <div id="vehicleMenu" class="span-18"></div>
    <div class="span-6 last" style="text-align:right;">
      <a id="exportCSV"><img src="img/fugue/document-excel-csv.png" class="icon" /> Export CSV</a>
      <a id="addEntry"><img src="img/fugue/plus-circle.png" class="icon" /> Add Entry</a>
    </div>
  </div>

  <div id="pageNotifier" class="container"></div>

  <div class="container">
    <div id="charts" class="span-24 last" style="height: 375px;">
      <div>
         <canvas id="mileageChart" width="800" height="300"></canvas>
      </div>
      <div>
         <canvas id="costChart" width="800" height="300"></canvas>
      </div>
      <div>
         <canvas id="mpgPpmChart" width="800" height="300"></canvas>
      </div>
      <div>
         <canvas id="daysBetweenChart" width="800" height="300"></canvas>
      </div>
    </div>

    <br />

    <div id="mileageTable" class="span-24 last">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>From</th>
            <th>To</th>
            <th>Odometer (mi)</th>
            <th>Trip (mi)</th>
            <th>Fuel (gal)</th>
            <th>PPG ($/gal)</th>
            <th>EA ($)</th>
            <th>MPG (mi/gal)</th>
            <th>PPM ($/mi)</th>
            <th>Destination</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="editableRow" v-for="entry in entries">
            <td style="width:16px;"><a class="edit" v-bind:rel="entry.id" style="display:none;"><img src="img/fugue/pencil.png" /></a></td>
            <td>{{ entry.fromDate }}</td>
            <td>{{ entry.toDate }}</td>
            <td>{{ entry.odometer }}</td>
            <td>{{ entry.tripMileage }}</td>
            <td>{{ entry.gallons }}</td>
            <td>{{ entry.pricePerGallon }}</td>
            <td>{{ (Math.round(100.0 * entry.gallons * entry.pricePerGallon) / 100.0) }}</td>
            <td>{{ (Math.round(10.0 * entry.tripMileage / entry.gallons) / 10.0) }}</td>
            <td>{{ (Math.round(1000.0 * entry.gallons * entry.pricePerGallon / entry.tripMileage) / 1000.0) }}</td>
            <td>{{ entry.destination }}</td>
            <td style="width:16px;"><a class="remove" v-bind:rel="entry.id" style="display:none;"><img src="img/fugue/minus-circle.png" /></a></td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="footer"></div>

  <div style="display:none;">
    <div id="mileageForm" style="padding: 10px; background:#fff;">
      <div id="formNotifier" style="display: block;"></div>

      <form>
        <fieldset>
          <legend><img class="icon" src="img/fugue/counter.png" /> Record Mileage</legend>
          <table class="grid">
            <tr>
              <td><label for="fromDate">From</label></td>
              <td><input name="fromDate" id="fromDate" type="date" v-bind:value="fromDate" /></td>
            </tr>
            <tr>
              <td><label for="toDate">To</label></td>
              <td><input name="toDate" id="toDate" type="date" v-bind:value="toDate" /></td>
            </tr>
            <tr>
              <td><label for="tripMileage">Trip Mileage</label></td>
              <td><input name="tripMileage" id="tripMileage" type="number" v-bind:value="tripMileage" /></td>
            </tr>
            <tr>
              <td><label for="odometer">Odometer</label></td>
              <td><input name="odometer" id="odometer" type="number" v-bind:value="odometer" /></td>
            </tr>
            <tr>
              <td><label for="gallons">Gallons</label></td>
              <td><input name="gallons" id="gallons" type="number" v-bind:value="gallons" /></td>
            </tr>
            <tr>
              <td><label for="pricePerGallon">Price Per Gallon</label></td>
              <td><input name="pricePerGallon" id="pricePerGallon" type="number" v-bind:value="pricePerGallon" /> </td>
            </tr>
            <tr>
              <td><label for="providerId">Gas Station</label></td>
              <td>
                <select id="providerId" name="providerId">
		  <option v-for="entry in entries" v-bind:value="entry.id">{{ entry.name }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="destinationId">Destination</label></td>
              <td>
                <select id="destinationId" name="destinationId">
		  <option v-for="entry in entries" v-bind:value="entry.id">{{ entry.name }}</option>
                </select>
              </td>
            </tr>
          </table>
          <input name="vehicleId" id="vehicleId" type="hidden" v-bind:value="vehicleId" />
        </fieldset>
        <div style="text-align: right;">
          <a class="submit">Submit</a>
        </div>
      </form> 
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

  <script src="js/common.js"></script>
  <script src="js/crud.js"></script> 
  <script src="js/figures.js"></script>
  <script src="js/notification.js"></script>
  <script src="js/mileage.html.js"></script>
</body>
</html>
