<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" /> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->

  <link rel="stylesheet" href="css/colorbox/colorbox.css" type="text/css" /> 
  <link rel="stylesheet" href="css/index.css" type="text/css" /> 

  <script src="js/template.js"></script>
  <script src="js/template-common.js"></script>
  <link rel="import" href="./templates/common.html" onload="loadCommon(event)">
</head>
<body>
  <div id="header"></div>

  <div class="container" style="border-bottom:1px solid #ccc; margin-bottom:1em; padding-top:0.25em; padding-bottom:0.25em;">
    <div id="settingsMenu" class="span-18">
      <a href="drivers.html"><img src="img/fugue/user-silhouette.png" class="icon" /> Drivers</a> | 
      <a href="vehicles.html"><img src="img/fugue/car.png" class="icon" /> Vehicles</a> | 
      <a href="destinations.html"><img src="img/fugue/marker.png" class="icon" /> Destinations</a> | 
      <a href="providers.html"><img src="img/fugue/card-address.png" class="icon" /> Providers</a>
    </div>

    <div class="span-6 last" style="text-align:right;">
      <a id="addEntry"><img src="img/fugue/plus-circle.png" class="icon"/> Add Entry</a>
    </div>
  </div>

  <div id="pageNotifier" class="container"></div>

  <div class="container">
    <div id="vehiclesTable">
      <table>
        <thead>
          <th></th>
          <th>ID</th>
          <th>Driver</th>
          <th>VIN</th>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Still Own</th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="entry in entries">
            <td></td>
            <td>{{ entry.id }}</td>
            <td>{{ entry.driver }}</td>
            <td>{{ entry.vin }}</td>
            <td>{{ entry.make }}</td>
            <td>{{ entry.model }}</td>
            <td>{{ entry.year }}</td>
            <td>{{ entry.stillOwn }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="footer"></div>

  <div style="display:none;">
    <div id="vehiclesForm" style="padding: 10px; background:#fff;">
      <div id="formNotifier" style="display: block;"></div>

      <form>
        <fieldset>
          <legend><img class="icon" src="img/fugue/car.png" /> Vehicle</legend>
          <table class="grid">
            <tr>
              <td><label for="vin">VIN</label></td>
              <td><input name="vin" id="vin" maxlength="256" v-bind:value="vin" /></td>
            </tr>
            <tr>
              <td><label for="make">Make</label></td>
              <td><input name="make" id="make" maxlength="256" v-bind:value="make" /></td>
            </tr>
            <tr>
              <td><label for="model">Model</label></td>
              <td><input name="model" id="model" maxlength="256" v-bind:value="model" /></td>
            </tr>
            <tr>
              <td><label for="year">Year</label></td>
              <td><input name="year" id="year" type="number" v-bind:value="year" /></td>
            </tr>
            <tr>
              <td><label for="driverId">Driver</label></td>
              <td>
                <select id="driverId" name="driverId">
		  <option v-for="entry in entries" v-bind:value="entry.id">{{ entry.name }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="stillOwn">Currently Own</label></td>
              <td><input name="stillOwn" id="stillOwn" type="checkbox" v-bind:value="stillOwn" /></td>
            </tr>
          </table>
          <input name="id" id="id" type="hidden" v-bind:value="id" />
        </fieldset>
        <div style="text-align: right;">
          <a class="submit">Submit</a>
        </div>
      </form> 
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

  <script src="js/common.js"></script>
  <script src="js/crud.js"></script> 
  <script src="js/figures.js"></script>
  <script src="js/notification.js"></script>
  <script src="js/vehicles.html.js"></script>
</body>
</html>
