<template id="header-template">
  <div class="container" style="border-bottom: 1px solid #333; padding-top: 0.25em; padding-bottom: 0.25em;">
    <div class="span-6" style="font-weight:bold;">
      <a href="index.html"><img width="32" height="32" src="img/car.png" class="icon"/> carlog</a>
    </div>
    <div class="span-18 last" style="text-align:right;">
      <a href="settings.html"><img src="img/fugue/gear.png" class="icon" /> Settings</a>
    </div>
  </div>
</template>

<template id="footer-template">
  <div class="container" style="text-align: center; border-top: 1px solid #ddd; color: #aaa; margin-top:1em; padding-top:1em; padding-bottom:1em;">
    &copy; 2017-Present Lewellen. CC BY-NC-ND.
  </div>
</template>
